.image-display {
  margin: auto;
  width: 100vw;
  background:rgba(255,255,255,0.8);
  border-radius:0;
  padding: 0;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;                     
}

.image-display .close-icon {
  width: 15px;
  height:15px;
  padding:10px;
  border-radius:100%;
  align-self: flex-end;
  cursor:pointer;
  position:absolute;
  right:10px;
  top:10px;
}

.image-display .close-icon:hover {
  background: whitesmoke;
}

.data-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data-container #user-image{
    align-self: center;
    width: auto;
    /* height: 30vh; */
    height:auto;
    max-height:80vh;
    max-width:100%;
}

.data-container p{
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  color: #3864ed;
}
.normal{
  width:100%;
}