header{
  background:transparent !important;
}
.navbar {
  background:transparent !important;
  background-size:50% 50%;
  display: flex;
  justify-content: flex-end;
}

.navbar .MuiButton-root {
  background: #ee7150;
  color: #fff;
  width: 12vw;
  border-radius:30px;
  min-width:100px;
}
.navbar .MuiButton-root .MuiButton-label{
  font-weight:bold;
}
.navbar .MuiButton-root:hover{
  background:#3864ed;
}
.MuiAppBar-root{
  box-shadow:none !important;
}

