/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./assets/bg.svg) no-repeat center center / cover #142039;
    height:100vh;
    width:100%;
}
.instructions, h1{
    color:#fff;
    margin:1.5vw 0;
    letter-spacing:1px;
    text-align:center;
}
h1{
    font:600 2.5rem 'Berkshire Swash', cursive;
}
.instructions{
    font-size:1rem;
    font-family: 'Berkshire Swash', cursive;
}
.instructions i{
    font:italic 9px "Roboto", "Helvetica", "Arial", sans-serif;
    margin-top: 10px;
    display:block;
}
.container{
    background: url('./assets/2.jpg') no-repeat center center / cover;
    margin: auto;
    height:calc(69vh - 81px);
    width: 70vw;
    overflow:hidden;
    border: white 2vw solid;
    overflow: hidden;
    border-radius: 10px;
}

.container img{
    width: 100%;
    height:100%;
    margin: 0em;
    opacity:1;
    object-fit:cover;
}
.grid__item{
    width:2.5vw;
    height:2.5vw;
    float:left;
    transition:all ease 0.5s;
    cursor: pointer;
}
.grid__item-inner {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.4;
}
.grid__item-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    transition: background 0.1s ease;
}
.grid__item:hover .grid__item-inner{
    opacity:0.9;
}
@media screen and (max-width:992px){
    .container{
      height: calc(60vh - 81px);
    }
    .instructions, h1{
        margin:3vw 0;
    }
  }